*.rpyc
*.rpyb
*.ini
*.rpyc
*.rpyb
*.rpymc
*.pyc
*.pyo
*.jy
project.json
update.pem
firstrun
*.bak
saves
tmp
cache
env
.DS_Store
log.txt
errors.txt
*.log
traceback.txt
styles.txt
/gui/game/gui
/cache/*
\cache\*
/.vscode/*
/game/submods/_placeholder